{% extends 'base.html.twig' %}

{% block title %}Friend index{% endblock %}

{% block body %}
    <h1>Friend index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Validity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for friend in friends %}
            <tr>
                <td>{{ friend.id }}</td>
                <td>{{ friend.validity ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_friend_show', {'id': friend.id}) }}">show</a>
                    <a href="{{ path('app_friend_edit', {'id': friend.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_friend_new') }}">Create new</a>
{% endblock %}
